body,
body.dark {
  /* Text colors */
  --aa-text-color-rgb: 1 1 1;
  --aa-primary-color-rgb: 1 1 1;
}

.aa-SourceHeaderLine {
  background-color: #000000;
}

.aa-DetachedCancelButton,
.aa-ItemTitle,
.aa-SourceHeaderTitle {
  font-family: 'Poppins', sans-serif;
}

.scrollable-element {
  scrollbar-color: red yellow;
}

.aa-ItemIcon {
  border-radius: 8px;
}

.aa-ItemIcon--picture img {
  padding: 0px;
}

.aa-DetachedSearchButton {
  padding: 0;
  border: 0;
  border-radius: 10px;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.aa-DetachedSearchButtonIcon {
  cursor: pointer;
}

.aa-DetachedSearchButtonIcon,
.aa-SubmitIcon {
  color: #414042;
}

.articles .aa-DetachedSearchButtonPlaceholder {
  display: block;
  font-family: 'Poppins', sans-serif;
}

.articles .aa-DetachedSearchButton {
  border: 1px solid #ccc;
}
